<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />

    <application
        android:name="com.reader.activity.DemoApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.reader.activity.BaseActivity"
            android:label="@string/title_activity_base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.reader.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.reader.activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.reader.activity.ItemizedOverlayDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_item"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.baidu.mapapi.search.PlaceCaterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.reader.activity.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.reader.activity.IndividualActivity"
            android:label="@string/title_activity_individual" >
        </activity>
        <activity
            android:name="com.reader.activity.SettingActivity"
            android:label="@string/title_setting" >
        </activity>
        <activity
            android:name="com.reader.activity.MyBookListActivity"
            android:label="@string/title_my_booklist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.reader.view.ItemList" >
        </activity>
        <activity android:name="com.reader.view.ContentList" >
        </activity>
        <activity android:name="com.reader.activity.ReaderActivity"
            android:label="@string/title_reader" >
        </activity>
        <activity
            android:name="com.reader.activity.NewBookActivity"
            android:label="@string/new_book" >
        </activity>
        <activity
            android:name="com.reader.activity.MyBookActivity"
            android:label="@string/my_book" >
        </activity>
         <activity
            android:name="com.reader.activity.OtherBookActivity"
            android:label="@string/other_book" >
        </activity>
        <activity android:name="com.reader.activity.DialogListActivity" >
        </activity>
        <activity
            android:name="com.reader.activity.SayActivity"
            android:label="@string/title_activity_say" >
        </activity>
        <activity
            android:name="com.reader.activity.BookActivity"
            android:label="@string/title_book" >
        </activity>
        <activity
            android:name="com.reader.activity.RecomendActivity"
            android:label="@string/title_recomend" >
        </activity>
        <activity
            android:name="com.reader.activity.UserActivity"
            android:label="@string/title_user" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>